@import "tailwindcss";

/* Baris sakti untuk menghubungkan next-themes dengan class Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg-primary);
  --color-foreground: var(--text-primary);
  --color-primary: #06b6d4;
}

@layer base {
  /* 1. Pengaturan Default (Light Mode) */
  :root {
    --bg-primary: #f8fafc; /* Putih/Abu-abu sangat terang */
    --text-primary: #0f172a; /* Teks Gelap */
  }

  /* 2. Pengaturan Saat Dark Mode Aktif (Class .dark dari next-themes) */
  .dark {
    --bg-primary: #030014; /* Midnight Blue */
    --text-primary: #f3f4f6; /* Teks Terang */
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
  }
}
